streamlit
pandas
openai
python-dotenv
langchain-community
langchain-huggingface
chromadb==0.4.22
sentence-transformers
protobuf==3.20.3
opentelemetry-api==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
